//- index.pug
extends layout.pug

block content
    section(class='hero is-link')
        div(class='hero-body')
            div(class='section')
                h1(class='title is-1')= 'Hockey player attributes search form'
    section(class='section')
        div(class='section-heading')
            h1(class='title is-2')= title
            div(class='container')
                include searchForm.pug
