//- layout.pug
doctype html
html(lang="en")
    head
        block head
            meta(charset="UTF-8")
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="viewport", content="width=device-width, initial-scale=1")
            meta(name="description", content="Ice hockey player search")
            meta(name="author", content="Vladimir Poplavskij")
            title= "Search NHL players info"
            block styles
                link(rel='icon' type='image/x-icon'  href='../../images/favicon.ico')
                link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css')
    body
        block content
        block foot
            footer
                div(class='box cta')
                    div(class='columns is-mobile is-centered')
                        div(class='field is-grouped is-grouped-multiline')
                            div(class='control')
                                div(class='control')
                                    div(class='tags has-addons')
                                        span(class='tag is-light')
                                            p !{copyright}
