//- result.pug
extends layout.pug

mixin player(data)
    .card
        .card-content
            h5.card-title= `${data.name} ${data.surname}`
            if data.height && data.weight && data.born
                p.card-text
                    strong='Born'
                    span= `\t ${data.born}`
                p.card-text
                    strong='Height'
                    span= `\t ${data.height} cm`
                p.card-text
                    strong='Weight'
                    span= `\t ${data.weight} kg`
                p.card-text
                    strong='Position'
                    span= `\t ${data.position}`
                p.card-text
                    strong='Shot'
                    span= `\t ${data.shot}`
            else
                p.card-text No content provided

block content
    section(class='section')
        div(class='section-heading')
            h1(class='title is-2')= title
    section(class='section')
        div(class='section-heading')
            div(class='cards')
                for val in data
                    if (val.statusCode == 200)
                        for info in val.info
                            +player(info)
                    else if val.error
                        div(class='notification is-warning') #{val.error}
                    else
                        div #{val.statusCode}
                else
                    div(class='notification is-warning') There are no values
    section(class='section')
        div(class='section-heading')
            a(href="./", class="btn btn-primary", role="button") back
