form(action='/search', method='POST')
     div(class='field has-addons')
        label(for='playerName' class='label')
        .control
            input(type='text', id='playerName', name='playerName', class='input')
        .control
            input(type='submit', value='Search', class='button is-info')
br
